examples/class.dtd

<!-- DTD for Java class specification -->
<!ELEMENT class (field*, method*)>
<!ATTLIST class
    name CDATA #REQUIRED
    package CDATA #REQUIRED>

<!ELEMENT field EMPTY>
<!ATTLIST field
    name CDATA #REQUIRED
    type CDATA #REQUIRED>

<!ELEMENT method (body?)>
<!ATTLIST method
    name CDATA #REQUIRED
    returnType CDATA #REQUIRED>

<!ELEMENT body (#PCDATA)>
